################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/SandCastleMod/.vs/SandCastleMod/CopilotIndices/17.14.995.13737
